# Configurações do Active Directory
AD_DOMAIN="dominio.interno.local"
AD_MMC="DC=nome,DC=nome,DC=nome"
AD_SHORT="dominio"
AD_EMAIL="com.br"

# Caminho do SharePoint (A partir da pasta do Usuário)
SHAREPOINT_RELATIVE_PATH="OneDrive - Nome da Instituicao\Pasta\Planilha_Master.xlsx"

# Sites
CITSMART_LINK="https://site.br"
CITSMART_LINK_NOVO="https://site.br"
OTRS_LINK="https://site.br"

# Administrador do SCCM
SCCM_ADMIN_USER="seu_usuario_admin_sccm"
SCCM_SERVER="sccm.dominio.interno"
SCCM_SITE_CODE="AAA"

# Caminho da Planilha de Doação e Baixa (A partir da pasta do Usuário)
DONATIONS_EXCEL_RELATIVE_PATH="HDs e Máquinas para doação.xlsx"

# Caminho da Planilha de Fiscalização de Contratos (A partir da sua pasta de Usuário)
FISCAL_EXCEL_RELATIVE_PATH="Indicação para atuar como fiscal.xlsx"

SHAREPOINT_MATUTINO_URL = "sharepoint"

# Caminho da pasta de Vídeos FAQ (A partir da pasta do Usuário)
VIDEO_FAQ_PATH="OneDrive - Nome da Instituicao\Pasta\Tutoriais-FAQs\Vídeos FAQ"

# Endpoints de Atos e Normas (MPMS)
ATOS_NORMAS_API_URL="https://site.br/api"
ATOS_NORMAS_DOWNLOAD_URL="https://site.br/api/download/"

# PaperCut
PAPERCUT_URL = "http://papercut/admin"
PAPERCUT_PRINTER_LIST_URL = "http://papercut/PrinterList"
PAPERCUT_DEVICE_LIST_URL = "http://papercut/DeviceList"