# Configurações do Active Directory
AD_DOMAIN="dominio.interno.local"
AD_MMC="DC=nome,DC=nome,DC=nome"
AD_SHORT="dominio"
AD_EMAIL="com.br"

# Caminho do SharePoint (A partir da pasta do Usuário)
SHAREPOINT_RELATIVE_PATH="OneDrive - Nome da Instituicao\Pasta\Planilha_Master.xlsx"

# Sites
CITSMART_LINK="https://site.br"
CITSMART_LINK_NOVO="https://site.br"
OTRS_LINK="https://site.br"