[Desktop Entry]
Version=1.0
Type=Application
Name=Sistema Bancada
Comment=Inicializa o serviço Streamlit do Sistema Bancada via Docker
Exec=bash -c '/home/paulo/PythonProjects/automacao-chamados-sti/00-iniciar.sh; exec bash'
Icon=utilities-terminal
Terminal=true
Categories=Development;Utility;
Path=/home/paulo/PythonProjects/automacao-chamados-sti
